[submodule "external/crypto"]
	path = external/crypto
	url = https://github.com/turtlecoin/turtlecoin-crypto
	branch = development
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/turtlecoin/cxxopts
	branch = master
[submodule "external/libzmq"]
	path = external/libzmq
	url = https://github.com/turtlecoin/libzmq.git
[submodule "external/cxxfolders"]
	path = external/cxxfolders
	url = https://github.com/turtlecoin/cxxfolders
[submodule "external/cppfs"]
	path = external/cppfs
	url = https://github.com/turtlecoin/cppfs
[submodule "external/lmdb"]
	path = external/lmdb
	url = https://github.com/turtlecoin/lmdb
[submodule "external/cppzmq"]
	path = external/cppzmq
	url = https://github.com/turtlecoin/cppzmq
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/turtlecoin/miniupnp
[submodule "external/cpphttplib"]
	path = external/cpphttplib
	url = https://github.com/turtlecoin/cpp-httplib
[submodule "external/ipv6-parse"]
	path = external/ipv6-parse
	url = https://github.com/turtlecoin/ipv6-parse
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/turtlecoin/spdlog
[submodule "external/cpplinenoise"]
	path = external/cpplinenoise
	url = https://github.com/turtlecoin/cpp-linenoise
